* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --primary: red ;
    --black: #000;
    --white: #FFF;
}
.header {
    background-image: url(./img/imgnew.jpeg);
    padding: 1.5rem;;
}
header h1 {
    color: var(--white);
    text-align: center;
}
header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: var(--primary);
    padding: 0.1rem;
    text-align: center;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
header nav ul li {
    padding-right: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: larger;
}
main.inicio div {
    margin: 0.6rem;
    justify-content: center;
}
main.inicio div h3 {
    padding: 0.7rem;
}

main ul li {
   
    list-style-type: upper-roman;
}
main ul{
    padding-left: 1rem;
}

main.contato form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    font-size: 1.7rem;
}
main.contato form fieldset p{
    padding: 5px; 
}
main.contato form fieldset{
  padding-right: 3rem;
}
main.contato form fieldset p button {
    background-color: #fd0000b0;
    max-width: 20%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0.7 black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1rem;
}
main.contato form fieldset p div {
    border-radius: 5px;
    outline: 0;
    border: 1px solid #000;
    height: 5rem;
}

/* Tabela */
main.tabela p {
    margin-top: 1rem;
    text-align: center;
}
table {
    margin: auto;
    margin-bottom: 3rem;
    table-layout: fixed;
    text-align: center;
}
table tr th, table tr td {
    border: 0.1rem solid black;
    padding: 1rem;
}
table{
    border-collapse: collapse;
}
footer {
    background-color: var(--primary);
    height: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    color: var(--white);
    padding: 0.4rem;
}
section{
    height:100vh;
}